#home {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 5em;
  }

  button {
    margin: 50px;
  }
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid lightgray;
  h3 {
    margin: 0;
  }
}

#ballot {
  margin-top: 50px;
}

#sidebar {
  transition: all .5s ease;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: white;
  padding-top: 50px;

  border-right: 1px solid lightgray;
  box-shadow: 0px 0px 5px black;

  &.open {
    left: 0;
  }

}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .btn, input {
    margin: 0 15px 15px 15px;
  }

  input {
    height: 30px;
    width: auto;
  }

}

#sidebar-toggle {
  transition: all .5s ease;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 5px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  padding: 0px;
  border-color: white;
  z-index: 9999;
  &.open {
    left: 200px;
  }
}

#ballot {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

#create-option {
  input[type=text], textarea {
    text-align: center;
    outline: none;
    border: none;
  }
   
  input[type=text]:focus, textarea:focus {
    box-shadow: none;
    border: none;
  }
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  margin: 15px;
  text-align: center;
  max-width: 35vw;
  max-height: 35vw;

}

